#record-sales {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #5f0b05 0%, #3a0404 100%),
    #680000,
    #2c0000,
    radial-gradient(center 50% 50%, radius 100%, #990000, #750000);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-font-family: monospace;
}

#record-sales:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #910505 0%, #9e0000 100%),
            #ff0606,
            #ff0000,
            radial-gradient(center 50% 50%, radius 100%, #fd0000, #ff0000);
}
#record-sales:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#record-sales Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#header {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-size: 32;
    -fx-font-weight: bold;
    -fx-font-family: "Monospace";
    -fx-text-fill: #245069;
}

#font_button {
    -fx-font: bold 15pt "Monospace";
    -fx-effect: dropshadow( one-pass-box , #602118, 3 , 0.0 , 2 , 0 );
}

#name_title {
    -fx-font: bold 35pt "Monospace";
    -fx-fill: #0c395b;
    -fx-alignment: center;
    -fx-stroke: #bfc1c1;
    -fx-stroke-width:1.5;
  }

#easy {
    -fx-font: bold 28pt "Monospace";
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #25dd3a 0%, #25bf3c 50%);
    -fx-alignment: center;
    -fx-stroke: #c6c0a2;
    -fx-stroke-width:2;
}

#normal {
    -fx-font: bold 28pt "Monospace";
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #fff25f 0%, #ffc982 50%);
    -fx-alignment: center;
    -fx-stroke: #fffcc8;
    -fx-stroke-width:2;
}

#difficult {
    -fx-font: bold 35pt "Monospace";
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #ff2643 0%, #bc1a23 50%);
    -fx-alignment: center;
    -fx-stroke: #ffdec7;
    -fx-stroke-width:2;
}

.chart-pie-label-line {
    -fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}

.chart-pie-label { /*this is what you need for labels*/
    -fx-font-family: Monaco;
    -fx-fill: #f7e6e3;
    -fx-font-size: 1em;
}

.chart-legend {
    -fx-background-color: #f7f1c2;
    -fx-stroke: #d2daa3;
    -fx-font-family: Monaco;
    -fx-text-fill: #c6c3b4;
}

.chart-title {
    -fx-font-family: Monaco;
    -fx-text-fill: #c6c3b4;
    -fx-font-size: 1.6em;
     -fx-padding: 20;
     -fx-spacing: 10;
     -fx-alignment: center;
 }
#grid-prompt {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-size: 25;
    -fx-font-family: Monospace;
    -fx-font-weight: bold;
}
#pop-up-message {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-stroke: red;
    -fx-fill: red;
    -fx-font-family: Monospace;
    -fx-font-weight: bold;
}

#name-null-message {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-stroke: #ff670e;
    -fx-fill: #ff670e;
}

#skill-null-message {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-size: 15;
    -fx-stroke: #ff670e;
    -fx-fill: #ff670e;
    -fx-font-family: Monospace;
    -fx-font-weight: bold;
}
#skill-not-equal_message {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-stroke: red;
    -fx-fill: red;
    -fx-font-family: Monospace;
    -fx-font-weight: bold;
}